<!DOCTYPE html>

<html>

	<head>	
		<title>Zaku Poll - Create your own poll</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
                <link href="/views/css/main.css" rel="stylesheet" type="text/css">

	</head>

	<body>
		<div class = "container-fluid bg text-center">
			<p class = "main-title">Zaku Poll (FCC)</p>
		</div>
		<div class="container">	
			<div class="login">
				<a href="/auth/github">
					<div class="alert alert-danger">
						<strong>Login Required</strong>
					</div>
					<div class="btn" id="login-btn">
						<img src="/views/img/github_32px.png" alt="github logo" />
						<p>LOGIN WITH GITHUB</p>
					</div>
				</a>
			</div>
		</div>
	</body>

</html>
