<!DOCTYPE html>
<html>

	<head>
		<title>Zaku Poll - Create your own poll</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
		<link href="/views/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class = "container-fluid bg text-center">
			<p class = "main-title">Zaku Poll (FCC)</p>
			<header>
			<% if (loggedIn) { %>
				<p>Welcome, <span id="display-name"></span>!</p>
	               		<a class="menu" href="/profile">Profile</a>
		       	        <p>|</p>
               			<a class="menu" href="/logout">Logout</a>
			<% } else { %>
				<div class="login">
                                <a href="/auth/github">
                                <div class="btn" id="login-btn">
                                <img src="/views/img/github_32px.png" alt="github logo" />
                                <p>LOGIN WITH GITHUB</p>
                                        </div>
                                </a>
			<% } %>
			</header>
			</div>
		</div>
		<div class="container">
		<!-- <div class="container">-->
			<!--
			<p>You have clicked the button <span id="click-nbr"></span> times.</p>
			<br />
			<div class="btn-container">
				<button type="submit" class="btn btn-add">CLICK ME!</button>
				<button class="btn btn-delete">RESET</button>
			</div>-->
			<div id = "poll_panel" class = "jumbotron row">
				<div id = "voting_panel" class = "col-sm-5">
					<span id = "poll_name"></span>
					<p style = "text-align: left">I'd like to vote for:</p>
					<form action = "" method = "post">
						<div id = "options">
	
						</div>
						<input type = "submit">
					</form>
				</div>
				<div id = "graph" class = "col-sm-7"></div>

			</div>
		</div>
			
		<script type="text/javascript" src="/common/ajax-functions.js"></script>
		<script>var id = '<%= poll %>';</script>
		<script type="text/javascript" src="/controllers/fetchPoll.js"></script>
		<!--<script type="text/javascript" src="controllers/clickController.client.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>-->
	</body>

</html>
